fastapi==0.115.6
uvicorn==0.34.0
openai==1.58.1
sqlalchemy==2.0.36
python-dotenv==1.0.1
httpx==0.28.1
PyPDF2==3.0.1
python-multipart==0.0.20
aiofiles==24.1.0
mercadopago==2.2.3
pydantic==2.10.4
pydantic-core==2.27.2
